.site-header{
    background-color: #16af16;
    color: white;
    height: 100vh;
    font-family:monospace ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.site-header-content{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height:200;
    width:200;
    align-self: center;
    box-shadow: #1c1616 2px 5px 5px;

    
}
body{
    margin: 0;

}