/* General */

body{
    margin: 0;
    padding: 0;
    background-color: rgb(209, 196, 178);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;


}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

/* Header */


header{
    
    width: 100%;
    background  : #302323;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: orangered 3px solid;
    /* display: flex; */
}

/* .site-header-content{
    margin: 10px;
} */
.profile-pic{
    border-radius: 50%;
    height:50;
    width:50;
    margin-bottom: 20px;
    box-shadow: #5c4747 2px 5px 5px;
}


header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

ul{
    margin: 0;
    padding: 0;
}

header nav li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #heading{
    float: left;
}

header #heading h1{
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: peru;
    font-weight: bold;
}

header a:hover{
    color: rgb(209, 196, 178);
    font-weight: bold;
}

/* Section */

#showcase{
    min-height: 400px;
    background: url('../img/images.jpg') no-repeat  ;
    background-size:cover;
    text-align: center;
    color: white;
    /* font-weight: bold; */
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* Boxes */

#boxin{
    padding-top: 10%;
}

#boxes h1{
    padding: 10px;
    background: #5c4747;
    color: white;
    text-align: center;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 100px;
    height: 100px;
}

.box p{
    font-size: 80%;
}

#boxin .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxin .box img{
    width: 100px;
    height: 100px;
}

#boxins .box img{
    width: 100px;
    height: 100px;
}

/* Footer */

footer{
    padding: 5px;
    margin-top:100px;
    background-color:rgb(194, 186, 186);
    color: white;
    text-align: center;
}
    
/* About */

#content .display-pic{
    border-radius: 50%;
    height:200;
    width:200;
    box-shadow: #5c4747 2px 5px 5px; 
    float: right;
    max-width: 20%;
    

    /* display: block; */
    
}



#content{
    margin: 10%;
}

.my-content {
    padding: 30px;
    background: gray;
    color: rgb(12, 10, 10);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    
} 

.social-media{
    height: 50;
    width: 50;
    margin-top: 10px;
}
    
/* media queries */

@media(max-width: 760px){
    header #heading, header nav, header nav li,#boxes .box, #boxin .box{
        float: none;
        text-align: center;
        width: 100%;
    }
    #content .display-pic{
        float: none;
        margin: 0 50% 10% 40%;
        height: 150;
        width: 150;
    }

    #content .my-content{
        text-align: center;
        width: auto;
    }

    .container{
        overflow: visible;
    }

    #showcase{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}